/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}

.logo{
    position:relative;
    display:block;
    height:100%;
    width:150px;
    float:left;
}

.box-table{
	display: table;
	height: 100%;
	float: left;
	margin-left: 2%;
}

.header-text{
    display:table-cell;
    vertical-align: middle;
    width:100%;
    height:50px;
}

.text-style{}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
}
/*.one-box-content{  text-align: center;}
.two-box-content{  text-align: center;}
.content-box{
  width: 250px;
  height: 100px;
  background: red;
  display: inline-block;
  margin: 30px 0px 0px 13px;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.text-contet-box{
	line-height: 100px;
}*/
.box:before {
  
  display: block;
  content: "full";
}

.block {
background-color: red;
  width: 200px;
  margin: 30px 30px 0px 30px;
  height: 100px;
  box-sizing: border-box;
  display: inline-block;
}

.block_1 {
  float: none;
}

.block_2 {
  float: none;
}

.block_3{
	float: none;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	height: 100vh;/* высота секции равна высоте области просмотра */
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}
/*MENU*/
#menu {
  background: green;
  border: 1px solid #000;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  border-bottom: 1px solid #000;
}

#menu ul li a {
  color: #ffffff;
  display: block;
  font-size: 20px;
  padding: 10px 0 10px 10px;
  text-decoration: none;
}

#menu ul li a:hover {
  background: #eee;
}

#menu .last {
  border-bottom: none;
}
/*MENU*/

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 1000px;
	height: 100px;
	background: #BFF08E;
	position: relative;
	text-align: center;
}

.footer-content{  
	display: block;
  width: 100%;
  height: 100%;
  line-height: 150px;}







/*@media (max-width: 600px) {
  .box:before {
    background-color: red;
  }

  .block_1 {
    width: 50px;
  }

  .block_2 {
    width: 50px;
  }

  .block_3{
    width: 50%;
    float: left;
  }

  .left-sidebar {
	height: 125vh;/* высота секции равна высоте области просмотра 

}
}*/